.notif{
    background-color: #585858;
    color: white;
    font-family:var(--mont);
    padding: 10px;
    position: relative;
    height: auto;
    padding: 20px;
}
.notif p{
    width: 70%;
    margin: auto;
    text-align: center;
}
.notif button:nth-child(2){
    float: right;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 50px;
    top: calc(50% - 20%);
    font-size: 30px;
    /* padding: 10px; */
    color: white;
}
.notif button:nth-child(3){
    display: none;
}
    
.notif button h6{
    display: none;
    color: white;
    
}
.notif a{
    color:var(--blue);
    font-weight: bold;
}
.notif button:hover{
    color: var(--blue);
}
@media only screen and (max-width:1800px){
    .notif p{
        width: 100%;
        margin: auto;
    }
    .notif button:nth-child(2){
        display: none;
    }
    .notif button:nth-child(3){
        display: block !important;
    }
    .notif button{
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px;
    font-weight: none;
    font-family: monospace;
    position: relative;
    text-align: center;
    background-color: transparent;
    margin: auto;
    right: calc(50%);
    text-align: center;
    right: calc(5% - 50%);
    margin: 10px;
    }
    .notif button h6{
        display: block;
    }
    
}